@charset "UTF-8";
.m {
  width: 1200px;
  margin: 0 auto;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  color: #444;
  min-width: 1300px;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.fff {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}

.infon-tab li a {
  display: block;
  color: #fff;
}

span.bc00 {
  font-weight: bold;
  color: #00A2FF;
}

.clor8 {
  color: #888;
}

.clor9 {
  color: #999;
}

/*澶撮儴*/
.lc-hd {
  height: 86px;
  background-color: #fff;
}

.nav {
  height: 86px;
}

#logo {
  width: 375px;
  height: 86px;
  padding-top: 15px;
  *height: 71px;
}

.nav-ul li {
  position: relative;
  float: left;
  padding-right: 30px;
  line-height: 86px;
  font-size: 14px;
}

.nav-ul li a {
  color: #222;
}

.nav-ul li a:hover {
  color: #ff6600;
}

.nav-ul li:hover .subcation {
  visibility: visible;
  top: 86px;
  height: auto;
  -webkit-transition: all .7s;
     -moz-transition: all .7s;
       -o-transition: all .7s;
          transition: all .7s;
  z-index: 10;
}

.nav-ul li .subcation {
  position: absolute;
  top: 76px;
  left: -15px;
  width: 86px;
  height: 0;
  background-color: #141414;
  line-height: 27px;
  z-index: -1;
  text-align: center;
  padding-bottom: 5px;
  font-size: 13px;
  visibility: hidden;
}

.clor00 {
  color: #ff6600 !important;
}

/*搴曢儴*/
.lc-footer {
  width: 100%;
  background-color: #141414;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.lc-footer a {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}

.lc-footer .footerTop {
  height: 265px;
}

.lc-footer .footerBom {
  height: 69px;
  border-top: 1px solid #26252a;
  line-height: 69px;
}

.lc-footer .footerTop ul {
  width: 135px;
}

.lc-footer .footerTop ul li {
  height: 25px;
  font-size: 12px;
}

.lc-footer .footerTop ul li.h2 {
  margin: 35px 0 13px 0;
  font-size: 13px;
}

.lc-footer .footerTop ul li.h2 a {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}

/*杩斿洖椤堕儴*/
.back-fixed {
  position: fixed;
  right: 200px;
  bottom: 200px;
  display: none;
  z-index: 100;
}

.back-fixed ul li {
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: url(../images/ico.png) no-repeat;
  background-color: #B5B5B5;
  margin-bottom: 12px;
  cursor: pointer;
}

.back-fixed ul li.xiaoxi {
  background-position: 0 -45px;
}

.back-fixed ul li.fhdb {
  background-position: 0 0px;
}

.back-fixed ul li:hover {
  background-color: #e4e4e4;
}

#slider {
  margin: 0 auto;
  height: 600px !important;
}

#slider .sliderUl {
  left: 50%;
  margin-left: -960px;
}

#slider .sliderUl > li, #slider .sliderUl > li > a > img {
  height: 600px;
  width: 1920px;
}

#slider .sliderUl > li > a {
  display: block;
  cursor: default;
  height: 600px;
}

#slider .sliderUl:hover + .a-pn {
  opacity: 1 !important;
}

#slider .a-pn:hover {
  opacity: 1 !important;
}

.banner {
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.banner img {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}

.subNav {
  width: 100%;
  height: 57px;
  border-bottom: 1px solid #ddd;
}
.subNav .main .lt {
  float: left;
}
.subNav .main .lt a {
  display: block;
  float: left;
  padding: 0 19px;
  font-size: 16px;
  color: #000;
  line-height: 54px;
  border-bottom: 2px solid transparent;
  margin-right: 10px;
}
.subNav .main .lt a:hover {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}
.subNav .main .lt a.cur {
  color: #ff6600;
  border-bottom: 2px solid #ff6600;
}
.subNav .main .rt {
  float: right;
  margin-right: 15px;
  font-size: 14px;
  line-height: 56px;
  color: #666;
}
.subNav .main .rt a {
  color: #666;
}

.page {
  font-size: 16px;
  text-align: center;
  height: 50px;
  line-height: 36px;
}
.page a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 38px;
  padding: 0px 15px;
  border: 1px solid #ddd;
  color: #555;
}
.page a:hover {
  background-color: #324c7f;
  color: #fff;
}
.page span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 38px;
  padding: 0px 15px;
  border: 1px solid #ddd;
  color: #fff !important;
  background-color: #324c7f;
  font-weight: lighter !important;
}
