.sprite-foot-sprite, .sprite-foot-home-hui, .sprite-foot-home, .sprite-foot-my-hong, .sprite-foot-my, .sprite-foot-order-hong, .sprite-foot-order, .sprite-foot-shoucang-hong, .sprite-foot-shoucang {
  background-image: url('../images/sprite-foot-sc7fc241a70.png');
  background-repeat: no-repeat;
}
.sprite-foot-home-hong {
  background-position: 0 0;
}

.sprite-foot-home {
  background-position: 0 -16px;
}

.sprite-foot-my-hong {
  background-position: 0 -32px;
}

.sprite-foot-my {
  background-position: 0 -48px;
}

.sprite-foot-order-hong {
  background-position: 0 -64px;
}

.sprite-foot-order {
  background-position: 0 -80px;
}

.sprite-foot-shoucang-hong {
  background-position: 0 -96px;
}

.sprite-foot-shoucang {
  background-position: 0 -112px;
}

[class^="sprite-"] {
  display:block;
  background-size: 100% auto;
}

[class^="sprite-foot-"] {
  height: 16px;
  width: 16px;
}

.sprite-24-sprite, .sprite-24-check-off-ping, .sprite-24-check-on-bz, .sprite-24-check-on-ping, .sprite-24-right-jt, .sprite-24-star-check, .sprite-24-star-hui, .sprite-24-star {
  background-image: url('../images/sprite-24-sf3eb494e64.png');
  background-repeat: no-repeat;
}
.sprite-24-check-off-ping {
  background-position: 0 0;
}

.sprite-24-check-on-bz {
  background-position: 0 -12px;
}

.sprite-24-check-on-ping {
  background-position: 0 -24px;
}

.sprite-24-right-jt {
  background-position: 0 -36px;
}

.sprite-24-star-check {
  background-position: 0 -48px;
}

.sprite-24-star-hui {
  background-position: 0 -60px;
}

.sprite-24-star {
  background-position: 0 -72px;
}

[class^="sprite-24-"] {
  height: 12px;
  width: 12px;
}

.sprite-32-sprite, .sprite-32-about-our, .sprite-32-add-adress, .sprite-32-check-off, .sprite-32-check-on-full, .sprite-32-check-on, .sprite-32-close, .sprite-32-concat-our, .sprite-32-dai-buy, .sprite-32-dai-fa, .sprite-32-dai-huo, .sprite-32-dai-speak, .sprite-32-del, .sprite-32-error, .sprite-32-fahuo, .sprite-32-left-jt, .sprite-32-location, .sprite-32-online-service, .sprite-32-repalce-monney, .sprite-32-right-jt, .sprite-32-service, .sprite-32-set, .sprite-32-shoucang-hong, .sprite-32-shoucang-hui, .sprite-32-success, .sprite-32-yijian {
  background-image: url('../images/sprite-32-sccb15d0a95.png');
  background-repeat: no-repeat;
}

.sprite-32-about-our {
  background-position: 0 0;
}

.sprite-32-add-adress {
  background-position: 0 -16px;
}

.sprite-32-check-off {
  background-position: 0 -32px;
}

.sprite-32-check-on-full {
  background-position: 0 -48px;
}

.sprite-32-check-on {
  background-position: 0 -64px;
}

.sprite-32-close {
  background-position: 0 -80px;
}

.sprite-32-concat-our {
  background-position: 0 -96px;
}

.sprite-32-dai-buy {
  background-position: 0 -112px;
}

.sprite-32-dai-fa {
  background-position: 0 -128px;
}

.sprite-32-dai-huo {
  background-position: 0 -144px;
}

.sprite-32-dai-speak {
  background-position: 0 -160px;
}

.sprite-32-del {
  background-position: 0 -176px;
}

.sprite-32-error {
  background-position: 0 -192px;
}

.sprite-32-fahuo {
  background-position: 0 -208px;
}

.sprite-32-left-jt {
  background-position: 0 -224px;
}

.sprite-32-location {
  background-position: 0 -240px;
}

.sprite-32-online-service {
  background-position: 0 -256px;
}

.sprite-32-repalce-monney {
  background-position: 0 -272px;
}

.sprite-32-right-jt {
  background-position: 0 -288px;
}

.sprite-32-service {
  background-position: 0 -304px;
}

.sprite-32-set {
  background-position: 0 -320px;
}
.sprite-32-shoucang-hui {
  background-position: 0 -352px;
}
.sprite-32-shoucang-hong {
  background-position: 0 -336px;
}
.sprite-32-success {
  background-position: 0 -368px;
}

.sprite-32-yijian {
  background-position: 0 -384px;
}

[class^="sprite-32-"] {
  height: 16px;
  width: 16px;
}

.sprite-48-sprite, .sprite-48-address-big, .sprite-48-credit-big, .sprite-48-error-close, .sprite-48-img, .sprite-48-service-green, .sprite-48-share-dan, .sprite-48-shoucang-big, .sprite-48-success-dui, .sprite-48-yhq-big {
  background-image: url('../images/sprite-48-s62270c85bb.png');
  background-repeat: no-repeat;
}

.sprite-48-address-big {
  background-position: 0 0;
}

.sprite-48-credit-big {
  background-position: 0 -24px;
}

.sprite-48-error-close {
  background-position: 0 -48px;
}

.sprite-48-img {
  background-position: 0 -72px;
}

.sprite-48-service-green {
  background-position: 0 -96px;
}

.sprite-48-share-dan {
  background-position: 0 -120px;
}

.sprite-48-shoucang-big {
  background-position: 0 -144px;
}

.sprite-48-success-dui {
  background-position: 0 -170px;
}

.sprite-48-yhq-big {
  background-position: 0 -194px;
}

[class^="sprite-48-"] {
  height: 24px;
  width: 24px;
}

.sprite-55-sprite, .sprite-55-monney-hui, .sprite-55-monney-ling, .sprite-55-monney {
  background-image: url('../images/sprite-55-s11d9525996.png');
  background-repeat: no-repeat;
}
.sprite-55-monney {
  background-position: 0 -52px;
}
.sprite-55-monney-hui {
  background-position: 0 0;
}

.sprite-55-monney-ling {
  background-position: 0 -26px;
}
[class^="sprite-55-"] {
  height: 26px;
  width: 26px;
}
