.main { width: 7.5rem; margin: 0 auto; background: url(../../images/index-bj.jpg) no-repeat; background-size: 7.5rem 12.05rem; background-color: #000026; height: 12.05rem; max-height: 1205px; }
.main .menu-ul { width: 5.3rem; margin: 0 auto; flex-wrap: wrap; padding-top: 7.3rem; }
.main .menu-ul li { width: 50%; height: .72rempx; margin-bottom: .4rem; }
.main .menu-ul li a { display: block; width: 2.42rem; height: .72rem; background-color: #b3b3bf; color: #222; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: .32rem; line-height: .73rem; text-align: center; margin: 0 auto; }
.main .menu-ul li a:active { color: rgba(255, 255, 255, 0.6); background: #37a8d2; background: -moz-linear-gradient(left, #5ab49a 0%, #37a8d2 50%); background: -webkit-gradient(linear, left, 100%, color-stop(0%, #5ab49a), color-stop(50%, #37a8d2)); background: -webkit-linear-gradient(left, #5ab49a 0%, #37a8d2 50%); }

.ix-footer { height: 60px; line-height: 18px; color: rgba(255, 255, 255, 0.5); }

.list-main > h2 { line-height: 44px; text-align: center; color: #333; font-size: 15px; }
.list-main > p { text-indent: 2em; line-height: 20px; color: #555; font-size: 13px; }
.list-main img { width: 100%; margin: 0 auto; }
.list-main .m-contact { width: 100%; height: 2rem; background-color: #37abd6; padding-top: .5rem; }
.list-main .m-contact ul { width: 100%; height: 1rem; }
.list-main .m-contact ul li { flex-grow: 1; }
.list-main .m-contact ul li .img { width: 1rem; height: 1rem; }
.list-main .m-contact ul li dl { color: #fff; font-size: .26rem; margin-left: .1rem; padding: .15rem 0; line-height: .35rem; }
.list-main .contact-p { padding: 5px 0; }
.list-main .contact-p p { color: #333; line-height: .4rem; padding: 0 .5rem; font-size: .28rem; }

.baiDu { width: 100%; height: 210px; }

.news-list .news-hd { justify-content: center; align-items: center; line-height: 60px; }
.news-list .news-hd > p { font-size: 30px; color: #191919; }
.news-list .news-hd .select { position: relative; width: 85px; height: 25px; margin-left: 5px; line-height: 25px; }
.news-list .news-hd .select select { width: 100%; height: 25px; text-align: center; padding-left: 8px; background-color: transparent; border-color: #dfdfdf; -webkit-appearance: none; }
.news-list .news-hd .select i.jt { display: block; position: absolute; top: 1px; right: 1px; width: 23px; height: 23px; background-color: #eee; z-index: -1; border-left: 1px solid #dfdfdf; }
.news-list .news-hd .select i.jt:after { content: ""; display: block; position: absolute; top: 9px; left: 6px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #a0a0a0; }
.news-list .ul-item .item { font-size: 14px; margin-bottom: 10px; }
.news-list .ul-item .item > a { display: block; }
.news-list .ul-item .item .img img { width: 100%; }
.news-list .ul-item .item p.clor { color: #36abd6; }
.news-list .ul-item .item p { line-height: 20px; max-height: 40px; overflow: hidden; color: #333; }

.news-content { padding-top: 15px; font-size: 15px; }
.news-content h2 { font-size: 15px; text-align: center; color: #222; line-height: 26px; }
.news-content h6 { font-size: 12px; text-align: center; color: #777; margin-bottom: 25px; }
.news-content img { width: 100%; margin: 0 auto; }
.news-content p { text-indent: 2em; line-height: 25px; }

a.view-more { display: block; width: 100%; height: 40px; background-color: #36abd6; color: #fff; font-size: 13px; line-height: 40px; text-align: center; margin: 10px 0; }
a.view-more i { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; position: relative; top: -3px; margin-left: 5px; width: 9px; height: 9px; background: transparent; border-color: #fff; border-width: 0 0 1px 1px; border-style: solid; -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }

a.retreat { display: block; width: 250px; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 13px; background-color: #36abd6; margin: 15px auto 15px; }
a.retreat i { display: inline-block; vertical-align: middle; *vertical-align: auto; *zoom: 1; *display: inline; position: relative; top: -2px; margin-left: 3px; width: 8px; height: 8px; background: transparent; border-color: #fff; border-width: 0 0 1px 1px; border-style: solid; -webkit-transform: rotateZ(-135deg); transform: rotateZ(-135deg); }

.list-product-item .item { position: relative; width: 100%; margin-top: 10px; }
.list-product-item .item img { width: 100%; }
.list-product-item .item p { position: absolute; left: 0; right: 0; bottom: 0; height: 30px; line-height: 30px; background-color: rgba(255, 255, 255, 0.6); color: #000; font-size: 15px; text-align: center; }

.car-content h2 { width: 100%; line-height: 50px; font-size: 15px; color: #000; text-align: center; }
.car-content img { width: 100%; margin: 0 auto; }
